body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

img {
    height: 175px;
}

nav {
    background-color: red;
    border-bottom: 1px black;
    padding: 15px;
}
a{
    color: white;
    text-decoration: none;
    font-size: x-large;
}

#main-page-white {
    color: white;
}

footer {
    background-color: greenyellow;
    padding: 15px;
    width: 100%;
    bottom: 0px;
    position: fixed;
}


.green-text {
    color: green;
}

tr:nth-child(even) {
    background-color:gray
}

.recipes-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
}
